.config/zsh/.zcompdump
.config/zsh/powerlevel10k
.config/nvim/autoload
.config/nvim/.netrwhist
.config/configstore/nodemon.json
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-npm.json
.config/coc/
.config/wslu

# Weechat
.config/weechat/weechat.log
.config/weechat/logs/
.config/weechat/sec.conf
.config/weechat/weechat_fifo
