.config/zsh/.zcompdump
.config/nvim/autoload/plugged/*
.config/nvim/.netrwhist
.config/tmux/plugins/*
.config/configstore/nodemon.json
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-npm.json
.config/coc/extensions/node_modules/
