.config/zsh/.zcompdump
.config/zsh/.zinit
.config/nvim/autoload/plugged/*
.config/nvim/.netrwhist
.config/tmux/plugins/*
.config/configstore/nodemon.json
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-npm.json
.config/coc/extensions/node_modules/
.config/coc/extensions/db.json
.config/coc/list-extensions-history.json
.config/coc/list-lists-history.json
.config/coc/lists
